
.card{
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;
}
.buy:hover{
    background-color: black !important;
    color: white !important;
}
.b-one:hover {
    transform: scale(1.2) ; 
    content: url("https://ecomusnext-themesflat.vercel.app/images/products/headphone-red.jpg");
    cursor: pointer;
}
.b-two:hover {
    transform: scale(1.2) ; 
    cursor: pointer;
}
.b-three:hover {
    transform: scale(1.2) ; 
    content: url("https://ecomusnext-themesflat.vercel.app/images/products/wireless-charging-white3.jpg");
    cursor: pointer;
}
.b-four:hover{
    transform: scale(1.2) ; 
    content: url("https://ecomusnext-themesflat.vercel.app/images/products/wireless-charging-white.jpg");
    cursor: pointer;
}
.b-five:hover{
    transform: scale(1.2) ; 
    content: url("https://ecomusnext-themesflat.vercel.app/images/products/albert-white.jpg");
    cursor: pointer;
}

@media only screen and (max-width:600px) {
    .card{
        border: 1px solid transparent !important;
        width: 100% !important;
        height: 450px !important;
    }
    .buy{
        background-color: black !important;
        color: white !important;
        height: auto !important;
        width: auto !important;
    }
}

/* @media only screen and (max-width:375px) {
    @media only screen and (max-width:768px) {
        .card{
            border: 1px solid transparent !important;
            width: 100% !important;
            height: 388px !important;
        }
        .card img{
            width: 100% !important;
            height: 100vh !important;
        }
       
    }
} */