.card{
    border: 1px solid transparent !important;
width: 263px !important;
height: 348px !important;
}

.card-body{
background-color: rgb(244, 245, 245);

}

.card img{
    transition: 1.1s;
    
}

.card img:hover{
transform: scale(1.1);
}


@media only screen and (max-width:768px) {
    .card{
        border: 1px solid transparent !important;
    width: 243px !important;
    height: 288px !important;
    }
}

@media only screen and (max-width:375px) {
    @media only screen and (max-width:768px) {
        .card{
            border: 1px solid transparent !important;
        width: 100% !important;
        height: 388px !important;
        }
        .card img{
            width: 100% !important;
            height: 100vh !important;
        }
       
    }
}