.whatsapp-redirect {
  width: 100%;
background-color: rgb(43, 39, 39);
  margin: 0 auto;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding:10px 0px; 
  
}
form label{
    padding: 5px;

    
}


#for-name {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 300px;
  border-radius: 2px;
  background-color: transparent;
  color: white !important;
  font-weight: 400;
  
}

.visually {
  color: white !important;
  font-weight: 600;
}
#floatingTextarea {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 300px;
  border-radius: 2px;
  background-color: transparent;
  color: white !important;
  font-weight: 500;
}
#for-mobile {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 300px;
  border-radius: 2px;
  background-color: transparent;
  color: white !important;
  font-weight: 500;
  outline: none !important;
}
