.card{
    border: 1px solid transparent !important;
     width: 263px !important;
     height: 348px !important; 
    overflow: hidden;
}

.card-body{
background-color: rgb(244, 245, 245);

}

.card img{
    transition:transform 1.5s;
    
}

.card img:hover{
cursor: pointer;    
transform: scale(1.1);

}

  
  .icons-container {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    visibility: hidden;
     transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .card:hover .icons-container {
    opacity: 1;
    visibility: visible;
  }
  
  .container{
    overflow: "hidden";
    /* overflow-x: hidden; */
    overflow-Y: "hidden";
}

.card{
    overflow: hidden;
    scroll-behavior: smooth;
    position: relative;

}
.card-img {
    transition: transform 1.5s; 
    display: block;
    width: 100%;
    height: auto;
}

.card:hover .one {
    transform: scale(1.2) ; 
    cursor: pointer;
}
.card:hover .two {
    transform: scale(1.2) ; 
    content: url("https://ecomusnext-themesflat.vercel.app/images/products/cable-black2.jpg");
    cursor: pointer;
}
.card:hover .three {
    transform: scale(1.2) ; 
    content: url("https://ecomusnext-themesflat.vercel.app/images/products/headphone-red.jpg");
    cursor: pointer;
}
.card:hover .four {
    transform: scale(1.2) ; 
    content: url("https://ecomusnext-themesflat.vercel.app/images/products/albert-white.jpg");
    cursor: pointer;
}

@media only screen and (max-width:768px) {
    .card{
        border: 1px solid transparent !important;
        width: 243px !important;
        height: 288px !important;
    }
}

@media only screen and (max-width:375px) {
    
        .card{
            border: 1px solid transparent !important;
        width: 100% !important;
        height: 100vh !important;
        }
        .card img{
            width: 100% !important;
            height: 100vh !important;
        }
       
    }



/* .card:hover .five {
    transform: scale(1.1) ; 
    content: url("https://demo-ecomus-global2.myshopify.com/cdn/shop/files/Frame258.jpg?v=1706772810&width=1646");
    cursor: pointer;
}
.card:hover .six {
    transform: scale(1.1) ; 
    content: url("https://demo-ecomus-global2.myshopify.com/cdn/shop/files/Frame247_db48383b-129d-4387-902b-16f69eebc191.jpg?v=1706772563&width=1346");
    cursor: pointer;
}
.card:hover .seven {
    transform: scale(1.1) ; 
    content: url("https://demo-ecomus-global2.myshopify.com/cdn/shop/files/Frame257.jpg?v=1706772675&width=1346");
    cursor: pointer;
}
.card:hover .eight {
    transform: scale(1.1) ; 
    content: url("https://demo-ecomus-global2.myshopify.com/cdn/shop/files/Frame255.jpg?v=1706772623&width=1346");
    cursor: pointer;
}
.arrow{
    position:absolute;
    margin: 0px;
    padding: 0px;
    top: 200px;
    left: 250px;
    font-size: 24px;
}
.card-text:hover{
   cursor: pointer;
   color: red;
} */
@media only screen and (max-width : 600px){
.row{
    flex-wrap: wrap !important;
}
.arrow{
    display: none;
}
}
@media only screen and (max-width : 768px){
    .row{
        flex-wrap: wrap !important;
    }
    .row{
      justify-content: center;
    }
    .arrow{
        display: none !important;
    }
}

  
  
  
  
  
  
 
 
 
 
  

