
  .icons-container {
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .card:hover .icons-container {
    opacity: 1;
    visibility: visible;
  }
  
  .container{
    overflow: "hidden";
    overflow-x: hidden;
    overflow-Y: "hidden";
}

.card{
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.arrow{
    position:absolute;
    margin: 0px;
    padding: 0px;
    top: 150px;
    left: 270px;
    font-size: 24px;
}


.one:hover {
    transform: scale(1.2) ; 
    content: url("https://ecomusnext-themesflat.vercel.app/images/products/bark-phone-blue2.jpg");
    cursor: pointer;
}
.two:hover {
    transform: scale(1.2) ; 
    content: url("https://ecomusnext-themesflat.vercel.app/images/products/cable-black2.jpg");
    cursor: pointer;
}
.three:hover {
    transform: scale(1.2) ; 
    content: url("https://ecomusnext-themesflat.vercel.app/images/products/headphone-red.jpg");
    cursor: pointer;
}
.four:hover {
    transform: scale(1.2) ; 
    content: url("https://ecomusnext-themesflat.vercel.app/images/products/albert-white.jpg");
    cursor: pointer;
}
.five:hover {
    transform: scale(1.2) ; 
    content: url("https://i5.walmartimages.com/asr/7da3d86a-16e4-40af-bf27-98d3669e6a66.d1c019872e308c4f94720407ea027ee3.jpeg");
    cursor: pointer;
}
.six:hover {
    transform: scale(1.2) ; 
    content: url("https://cpimg.tistatic.com/06068194/b/4/Mobile-Power-Bank.jpg");
    cursor: pointer;
}

@media only screen and (max-width:769px) {
    .card{
        border: 1px solid transparent !important;
        width: 243px !important;
        height: 288px !important;
    }
    .card-body{
        width: 100% !important;
        height: 298px !important;
    }
}  



.whatsappredirection{
    
    display: none;
    z-index: 1000;
height: auto;
    

}




@media only screen and (max-width : 768px){
    .row{
        flex-wrap: wrap !important;
    }
    .row{
      justify-content: center;
    }
    .arrow{
        display: none !important;
    }
    .card{
        border: 1px solid transparent !important;
    width: 100% !important;
    height: 100vh !important;
    }
    .card .card-body{
        width: 100% !important;
        height: 600px !important;
    }
   
}


@media only screen and (max-width : 600px){
    .row{
        flex-wrap: wrap !important;
    }
    .arrow{
        display: none;
    }
    }


  
@media only screen and (max-width:375px) {
    
    .card{
        border: 1px solid transparent !important;
    width: 100% !important;
    height: 100vh !important;
    }
    .card img{
        width: 100% !important;
        height: 100vh !important;
    }
   
}
  
  
  
  
  
 
 
 
  

