.card{
    border: 1px solid transparent !important;
    width: 263px !important;
    height: 348px !important;
    overflow: hidden;
}

.card-body{
background-color: rgb(244, 245, 245);


}

.card img{
    transition: 1.1s;
    
}

.card img:hover{
cursor: pointer;    
transform: scale(1.1);

}

  
  .icons-container {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    visibility: hidden;
     transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .card:hover .icons-container {
    opacity: 1;
    visibility: visible;
  }
  
  

@media only screen and (max-width:768px) {
    .card{
        border: 1px solid transparent !important;
        width: 243px !important;
        height: 288px !important;
    }
}

@media only screen and (max-width:375px) {
    
        .card{
            border: 1px solid transparent !important;
        width: 100% !important;
        height: 100vh !important;
        }
        .card img{
            width: 100% !important;
            height: 100vh !important;
        }
       
<<<<<<< HEAD
    }
}
=======
    
}
>>>>>>> 5220c6743d1ea66e788ae4c68b33a965717de357
