.card img {
    transition: transform 2s ; 
    width: 100%; 
    height: 100%;
  }
  .item{
    width: 250px;
  }
  .fasion{
    border-radius: 5px;
  }
  .card{
    overflow: hidden;
    border: none;
  }
  .card .image-container img {
    transition: transform 1.5s ease; 
  }
  .card .image-container img:hover {
    cursor: pointer;
    transform: scale(1.1); 
  }

  .container-fluid{
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  } 
  .cart-icon{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    width: 35px;
    opacity: 0;
  }
  .card:hover{
    .cart-icon{
      opacity: 1;
    }
  }
  .cart-icon:hover{
    background-color: black;
    .fa-cart-plus{
      color: white !important;
    }
  }
 
  @media only screen and (max-width: 600px){
    .col-md-2{
        display: flex;
        justify-content: center;
    }
    .discription{
     margin-left: 30px !important;
    }
  }
 